<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/words/1">首页</a>
        </div>

        <nav>
            <ul class="nav navbar-nav">
                <li><%= link_to("全部", word_path(id: @chapter, status: 'all')) %></li>
                <li><%= link_to(">9", word_path(id: @chapter, status: 'weight_9')) %></li>
                <li><%= link_to("Seven Hells", word_path(id: @chapter, status: 'for_gods_sake')) %></li>
                <li><%= link_to("完全不会", word_path(id: @chapter, status: 'fatal')) %></li>
                <li><%= link_to("不会", word_path(id: @chapter, status: 'unbelievable')) %></li>
                <li><%= link_to("超不熟", word_path(id: @chapter, status: 'never_know')) %></li>
                <li><%= link_to("很不熟", word_path(id: @chapter, status: 'do_not_know')) %></li>
                <li><%= link_to("不熟", word_path(id: @chapter, status: 'barely_know')) %></li>
                <li><%= link_to("添加单词", new_word_path) %></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li role="presentation" class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    章节选取 <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% (1..22).each do |chapter| %>
                      <li><%= link_to(chapter, word_path(id: chapter)) %></li>
                    <% end %>
                  </ul>
                </li>
            </ul>
        </nav>
    </div>
</nav>

<h2>第<%= @chapter %>章节</h2>
<br>
<%= will_paginate @words, renderer: BootstrapPagination::Rails %>
<table class="table table-striped">
  <colgroup>
      <col class="col-md-1.5">
      <col class="col-md-2">
      <col class="col-md-1">
      <col class="col-md-1.5">
      <col class="col-md-6">
  </colgroup>
  <thead>
    <tr>
      <th>单词</th>
      <th>记住了？</th>
      <th>权重</th>
      <th>显示释义</th>
      <th>释义</th>
    </tr>
  </thead>

  <tbody>
    <% @words.each do |word| %>
      <tr id="word_<%= word.id %>">
        <td><%= word.content %></td>
        <td>
          <%= button_to "没记住", not_remember_word_path(word_id: word.id), :method => "put", remote: true, class: "btn btn-default btn-xs", style: "float: left" %> 
          <%= button_to "记住了", remember_word_path(word_id: word.id), :method => "put", remote: true, class: "btn btn-default btn-xs", style: "float: right" %>
        </td>
        <td><%= link_to(word.weight, edit_word_path(word)) %></td>
        <td>就看一眼</td>
        <td><span hidden><%= simple_format(word.meaning) %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @words, renderer: BootstrapPagination::Rails %>

<script>
$(document).ready(function(){
  $('table tr').each(function(){
    $(this).children().eq(3).click(function(){
      $(this).next().children().toggle();
    });
  });
});

$(document).ready(function(){
  $('table th').eq(3).click(function(){
    $('table tr').each(function(){
      $(this).children().eq(4).children().show()
    });
  });
});

$(document).ready(function(){
  $('table th').eq(4).click(function(){
    $('table tr').each(function(){
      $(this).children().eq(4).children().hide()
    });
  });
});
</script>