<!DOCTYPE html>
<html>
  <head>
    <title> <%= defined?(@word) ? @word.content : 'Toefl21' %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body class="col-md-8 col-xs-offset-2">
    <%= yield %>
  </body>
</html>
